html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #656565;
  background: #fafafa;
}

body {
  padding: 100px 0 100px 0;
}

a,
a:active
a:focus
a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #656565;
}

a:hover {
  color: #333;
  border-bottom-color: #333;
}

h1 {
  font-size: 42px;
  color: #333;
  margin-block-start: 0;
  margin-block-end: 0;
}

section div:first-child {
  font-weight: 700;
  color: rgba(5, 111, 119, 0.41);
}

.grid .pre-one-fourth {
  margin-left: 25%;
}

.grid .pre-one-tenth {
  margin-left: 10%;
}

@media screen and (max-width: 568px) {
  html {
    font-size: 24px;
  }

  body {
    padding: 70px 40px 70px 40px;
  }

  h1 {
    font-size: 28px;
  }

  a,
  a:active
  a:focus
  a:visited {
    border-width: 1px;
  }

  .grid .pre-one-fourth,
  .grid .pre-one-tenth {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .grid .three-fifths {
    width: 100%;
    padding-right: inherit !important;
  }
}
