.about-me {
  position: relative;
  width: 100%;
  background-color: #fff2dd;
  z-index: 3;
}

.about-me > h1 {
  text-align: center;
  margin: 64px auto 0 auto; /* 78px - h1 line height padding = 64px */
  color:  #333;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

.about-me-paragraphs {
  margin-top: 36px; /* 50px - h1 line height padding = 36px */
  margin-bottom: 80px;
}

.about-me p {
  font-family: "ff-tisa-web-pro";
  font-size: 22px;
  color: #333;
  width: 30em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-indent: 2em;
}

.about-me > .triangle {
  border-color: #fff2dd transparent transparent transparent;
}