.about-me {
  background-color: $about-me-background-color;
  z-index: 3;

  p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-indent: 2em;
  }

  > .triangle {
    border-color: $about-me-background-color transparent transparent transparent;
  }
}

.about-me-paragraphs {
  margin-top: 36px; /* 50px - h1 line height padding = 36px */

  p:last-of-type {
    margin-bottom: 50px;
    @include transition(margin-bottom 0s);
  }

  input[type=checkbox]:checked ~ p:last-of-type {
    margin-bottom: 150px;
    @include transition(margin-bottom 0.25s ease-in-out);
  }
}

.about-me-hidden {
  width: 100%;
}

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;

  ~ p > .about-me-hidden,
  ~ [for="read-more"] span:first-of-type,
  ~ [for="read-more"] span:last-of-type {
    @include transition(opacity 0s);
  }

  ~ [for="read-more"] span:first-of-type {
    visibility: visible;
    opacity: 1;
  }

  ~ p > .about-me-hidden,
  ~ [for="read-more"] span:last-of-type {
    visibility: hidden;
    opacity: 0;
  }

  &:checked {
    ~ p > .about-me-hidden,
    ~ [for="read-more"] span:first-of-type,
    ~ [for="read-more"] span:last-of-type {
      @include transition(opacity 0.5s ease-in-out);
    }

    ~ [for="read-more"] span:first-of-type {
      visibility: hidden;
      opacity: 0;
    }

    ~ p > .about-me-hidden,
    ~ [for="read-more"] span:last-of-type {
      visibility: visible;
      opacity: 1;
    }

    ~ [for="read-more"] {
      top: 751px;
      @include transition(top .25s ease-in-out);
    }
  }
}

[for="read-more"],
input[type=checkbox] {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
  @include transition(top 0s);
  cursor: pointer;
}

@media (min-width: $screen-xxs) {
  [for="read-more"],
  input[type=checkbox] {
    top: 530px;
  }

  input[type=checkbox]:checked ~ [for="read-more"] {
    top: 665px;
  }
}

@media (min-width: $screen-xs) {
  [for="read-more"],
  input[type=checkbox] {
    top: 455px;
  }

  input[type=checkbox]:checked ~ [for="read-more"] {
    top: 580px;
  }
}

@media (min-width: $screen-sm) {
  [for="read-more"],
  input[type=checkbox] {
    top: 485px;
  }

  input[type=checkbox]:checked ~ [for="read-more"] {
    top: 580px;
  }
}

[for="read-more"] {
  border-radius: 6px;
  background-color: $link-hover-color;
  height: 45px;
  width: 220px;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    font-weight: 600;
    color: $white;
  }
}

@media (min-width: $screen-xs) {
  [for="read-more"] {
    width: 300px;
  }
}

@media (min-width: $screen-sm) {
  [for="read-more"] {
    width: 500px;
  }
}