.intro,
.about-me,
.works,
.contact-me {
  position: relative;
  width: 100%;
}

.section-title {
  text-align: center;
  margin: 64px auto 0 auto; /* 78px - h1 line height padding = 64px */
  font-weight: 700;
  line-height: 1;
}

.triangle {
  position: absolute;
  left: 50%;
  bottom: -32px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33px 42.5px 0 42.5px;
  @include transform(translateX(-50%));
  -moz-transform: translateX(-50%) scale(0.9999);
}