.contact-me {
  position: relative;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

.contact-me > h1 {
  text-align: center;
  margin: 64px auto 0 auto; /* 78px - h1 line height padding = 64px */
  color:  #fff;
  font-weight: 700;
  line-height: 1;
}

.contact-me > .form-group {
  margin: 0 auto;
}

#email,
#message,
.btn-send {
  display: block;
  color: #333;
  width: 260px;
}

@media (min-width: 320px) {
  #email,
  #message,
  .btn-send {
    width: 280px
  }
}

@media (min-width: 480px) {
  #email,
  #message,
  .btn-send {
    width: 440px
  }
}

@media (min-width: 768px) {
  #email,
  #message,
  .btn-send {
    width: 650px;
  }
}

@media (min-width: 992px) {
  #email,
  #message,
  .btn-send {
    width: 650px;
  }
}

#email {
  margin: 50px auto 0 auto;
  height: 45px;
}

#message {
  margin: 10px auto 0 auto;
  height: 225px;
}

.btn-send {
  margin: 10px auto 80px auto;
  height: 45px;
}

.btn-send,
.btn-send:active,
.btn-send:focus,
.btn-send:hover {
  background-color: #7ba6a8;
  color: #fff;
  outline: 0 !important;
  box-shadow: none;
}

.btn-send i {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  width: 0;
}

.btn-send span {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  width: 0
}

.posted .btn-send,
.posted #email,
.posted #message {
  cursor: default;
}

.posted .btn-send i {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}

.posted .btn-send span {
  visibility: visible;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}