.contact-me {
  position: relative;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

.contact-me > h1 {
  text-align: center;
  margin: 64px auto 0 auto; /* 78px - h1 line height padding = 64px */
  color:  #fff;
  font-weight: 700;
  line-height: 1;
}

.contact-me > .form-group {
  margin: 0 auto;
}

#email,
#message,
.btn-send {
  display: block;
  color: #333;
  width: 60%;
}

#email {
  margin: 50px auto 0 auto;
  height: 45px;
}

#message {
  margin: 10px auto 0 auto;
  height: 225px;
}

.btn-send {
  margin: 10px auto 80px auto;
  height: 45px;
}

.btn-send,
.btn-send:hover {
  background-color: #7ba6a8;
  color: #fff;
}