.intro {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #300000;
  z-index: 4;
}

.intro > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 25px;
  width: 100%;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  color: #eee;
}

.intro a,
.intro a:hover {
  color: #fff;
  text-decoration: none;
}

.intro-noun {
  vertical-align: top;
  width: 0;
}

.intro-noun > span {
  position: absolute;
}

.intro > .triangle {
  border-color: #300000 transparent transparent transparent;
}

@media (max-width: 768px) {
  .intro > h1 {
    font-size: 32px;
  }
}