.navbar {
  position: static;
  min-height: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.navbar-header {
  width: 100%;
  margin: 0 !important;
}

.navbar-name {
  float: left;
}

.navbar a,
.navbar-nav > li > a {
  color: $white;
  font-size: $font-size-scale-1;
  font-weight: 600;
  line-height: inherit;
  margin-top: 25px;
  padding: 0;
}

.navbar-nav {
  float: right;  
  margin: 0;

  > li {
    display: inline-block;
  }

  > li > a {
    display: inline-block;
    margin-left: 22px;

    &:focus,
    &:hover {
      background-color: inherit;
    }

    > span {
      display: none;
    } 

    > i {
      display: inherit;
    }
  }
}

@media (min-width: $screen-xs) {
  .navbar-nav > li > a {
    margin-left: 40px;
  }
}

@media (min-width: $screen-sm) {
  .navbar-nav > li > a {
    > span {
      display: inherit;
    } 

    > i {
      display: none;
    }
  }
}