.works {
  width: 100%;
  height: 1017px;
  background-color: #ffffff;
}

.works > h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
  font-family: "proxima-nova";
  color:  #333333;
  font-size: 64px;
  font-weight: 700;
  width: 180px;
  height: 45px;   
}