.row {
  margin: 0;
}

a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  color: #7ba6a8;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}

.triangle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -33px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33px 42.5px 0 42.5px;
}