.row {
  margin: 0;
}

.triangle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -33px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33px 42.5px 0 42.5px;
}

.form-control,
.form-control:focus {
  box-shadow: none;
  border: 0;
}